@import url("estilos-pre-formatados/headerFooter.css");
@import url("estilos-pre-formatados/cor-do-texto.css");

*{
  font-family: Ubuntu;
}

.content-initial{
  display: flex;
  width: 80vw;
  margin: 4.5rem auto 9rem auto;
  justify-content: space-evenly;
}

.info{
  width: 40rem;
}


/* ========== CONTENT-BLOG =============== */
.general{
  background-color: #E5E5E5;
}
.content-blog{
  display: grid;
  place-items: center;
  width: 115rem;
  padding-block: 11rem;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  background-color: #E5E5E5;
  row-gap: 10rem;
  column-gap: 5rem;
}

.box div{
  height: 259px;
width: 518px;
background-color: #c4c4c4;

}

.box{
  width: 518px;
}

.box h5{
  margin-block: 2rem;
}

footer{
  margin-top: 0;
}

@media (max-width: 1150px){
  .content-blog{
    width: 90%;
    column-gap: 5rem;
  }
  .box div{
    width: 40rem;
    height: 20rem;
  }
  .box{
    width: 40rem;
  }
}

@media (max-width: 900px){
  .content-blog{
    width: 90%;
    column-gap: 3rem;
  }
  .box div{
    width: 30rem;
    height: 15rem;
  }
  .box{
    width: 30rem;
  }
}

@media (max-width: 700px){
  .content-blog{
    grid-template-columns: 1fr;
  }
  .box div{
    width: 40rem;
    height: 20rem;
  }
  .box{
    width: 40rem;
  }
}

@media (max-width: 630px){
  .content-initial{
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 500px){
  header {
    width: 98vw;
  }
}

@media (max-width: 460px){
  .box div{
    width: 30rem;
    height: 15rem;
  }
  .box{
    width: 30rem;
  }

  .info{
    width: 30rem;
  }
  .info img{
    width: 30rem;
  }
}