@import url("../estilos-pre-formatados/cor-do-texto.css");
@import url("../estilos-pre-formatados/headerFooter.css");

*{
  font-family: Ubuntu;
}

.content-initial{
  display: flex;
  width: 80vw;
  margin: 4.5rem auto 9rem auto;
  justify-content: space-between;
  padding-right: 16rem;
}
.content-initial img{
  width: 38rem;
}

.content-initial p{
  font-size: 2rem;
}

.info{
  width: 50rem;
}

/* ========= CONTENT ============ */
.content-curso{
  background-color: #E5E5E5;
  padding: 7rem 0 14rem 0;
}

.box-aula{
  display: flex;
  padding-left: 14.4rem;
  padding-right: 18rem;
  column-gap: 7rem;
  justify-content: space-between;
}

.box-aula iframe{
  width: 46rem;
  height: 26rem;
}

.sec{
  width: 50rem;
}

.linha{
  width: 90vw;
  height: 0.3rem;
  margin: 7rem auto 7rem auto;
  background-color: #C4C4C4;
  border-radius: 1px;
}

footer{
  margin-top: 0 ;
}

@media (max-width: 1090px){
  .sec p{
    width: 30rem;
  }
}

@media (max-width: 980px){
  .box-aula{
    padding-right: 0;
    padding-left: 6rem;

  }

  .box-aula iframe{
    width: 40rem;
    height: 22.5rem;
  }
}

@media (max-width: 830px){
  .box-aula{
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    row-gap: 4rem;
  }
  .box-aula p{
    width: 50rem;
  }
  .sec h5{
    margin-bottom: 2rem;
  }
  .content-initial{
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }
  .info{
    width: 100%;
    text-align: justify;
    margin-bottom: 3rem;
  }
  .info h1{
    text-align: center;
    margin-bottom: 5rem;
  }
}

@media (max-width: 530px){
  .sec p{
    width: 30rem;
    text-align: justify;
  }
  .sec{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px){
  header {
    width: 98vw;
  }
  footer{
    width: 98vw;
  }
  .sec{
    width: 90vw;
  }
}
@media (max-width: 425px){
  .box-aula iframe{
    width: 30rem;
    height: 16.875rem;
  }
  .content-initial img{
    width: 30rem;
  }
  .info h1{
    font-size: 5rem;
  }
  .content-initial{
    margin: 0 auto;

  }
  .sec p{
    width: 27rem;
  }
}

@media (max-width: 380px){
  .info h1{
    font-size: 4rem;
  }
}